### C++ ###

# GCC/clang prerequisites
*.d

# Compiled object files
*.o
*.slo
*.lo
*.obj

# Executables / binaries
*.exe
*.out
*.app

# Precompiled headers
*.gch
*.pch

# Shared / dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.a
*.lib
*.lai
*.la

# Fortran module files
*.mod
*.smod

# Build directories (if you use CMake, Meson, etc.)
build/
cmake-build-*/

# VS Code workspace settings
.vscode/
